[submodule "third-party/nelma"]
	path = third-party/nelma
	url = git@github.com:Gekkio/nelma.git
[submodule "third-party/mla_usb"]
	path = third-party/mla_usb
	url = https://github.com/MicrochipTech/mla_usb.git
