[submodule "third-party/nelma"]
	path = third-party/nelma
	url = https://github.com/Gekkio/nelma.git
[submodule "third-party/mla_usb"]
	path = third-party/mla_usb
	url = https://github.com/Gekkio/mla_usb.git
